*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: Arial;
}

.Task{
    background: aqua;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.rt{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

#Task{
    padding: 8px;
    width: 200px;
}

#Add{
    padding: 8px 12px;
    cursor: pointer;
}

#List{
    margin-top: 20px;
}

li{
    margin-top: 10px;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}